body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}

#taskResults {
  margin-top: 20px;
  font-size: 16px;
  color: #333;
}

#taskResults p {
  background-color: #e7f4e7;
  color: #2ecc71;
  border: 1px solid #2ecc71;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  text-align: left;
}

#taskResults p.error {
  background-color: #f8d7da;
  color: #c0392b;
  border: 1px solid #c0392b;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  text-align: left;
}
